#container{
	position:absolute;
	width:1200px;
	height:800px;
	border:2px solid #000000;
	perspective:600px;
	overflow:hidden;
}
#world{
	position:absolute;
	width:inherit;
	height:inherit;
	transform-style:preserve-3d;
}
.rec{
	position:absolute;
	width: 2000px;
	height: 200px;
	border: 2px groove #3ef9ff;
	transform: translate3d(0px, -100px, -1000px);
}
.square{
	position:absolute;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 10px #3ef9ffe6;
	border: 2px groove #3ef9ff;
}
#pawn{
	display:none;
	position:absolute;
	top:400px;
	left:600px;
	transform:translate(-50%,-50%);
	width:100px;
	height:100px;
}